{% extends 'rango/base.html' %}
{% block title_block %}
Login
{% endblock %}
{% block body_block %}
<center>
<h1 align="center">Login</h1><br/><br/><br/>
    <div style="width:300px;" align="left">
        {% load crispy_forms_tags %}
        <form  method="post" action=".">
            {% csrf_token %}
            {{form | crispy }}
            <div align="center">
                <input type="submit" value="Log In" class="btn btn-info"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
        <div align="center"><br/>
            <p>Not registered?<a href="{% url 'registration_register' %}">Register here!</a>
            </p>
        </div>
    </div>
</center>
{% endblock %}
