{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
<style>
.like{ color:#ccc; cursor:pointer;}
.cs{color:#f00;}

</style>
<center>
    {% if category %}
    <h1>{{category.name}}</h1><br/><br/>
    <div align="left" style="width:400px; padding-top: 30px;">
        {% if pages %}
        <u1 class="list-group">
            {% for page in pages %}
            <li class="list-group-item" style="background: lightgrey;">
                <>
                <a href="{{page.url}}">{{page.title}}</a>
                <p id="like_{{page.id}}" class="like" style="float:right" onclick="like({{page.id}})">&#10084;</p>
                <p id="number_{{page.id}}" style="float:right">{{page.likeNumber}}</p>
            </li>
            {% endfor %}
        </u1>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        <br/>
        {% if user.is_authenticated %}
        <center>
            <a href="{% url 'rango:add_page' category.slug %}" class="btn btn-info">Add a New Page</a>
            <a href="{% url 'rango:comment' category.slug %}" class="btn btn-info"> See comment</a>
        </center>
        {% endif %}
        {% else %}
        The specified category does not exist.
        {% endif %}
    </div>
</center>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script>
    function like(id){
        var obj = $("#like_"+id);
        obj.toggleClass('cs');
        if(obj.hasClass('cs')){
            addLikeNumber(id);
        } else {
            subLikeNumber(id);
        }
    }

    function addLikeNumber(id) {
        $.get("/rango/page/add_like_number",{page_id:id}, function(res){
            $("#number_"+id).html(res);
        })
    }

    function subLikeNumber(id) {
        $.get("/rango/page/sub_like_number",{page_id:id}, function(res){
            $("#number_"+id).html(res);
        })
    }

</script>
{% endblock %}






