{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<center>
    {% if category %}
    <h1>{{category.name}}</h1><br/><br/>
    <div align="left" style="width:400px; padding-top: 30px;">
        {% if pages %}
        <u1 class="list-group">
            {% for page in pages %}
            <li class="list-group-item" style="background: lightgrey;"><a href="{{page.url}}">{{page.title}}</a>
            </li>
            {% endfor %}
        </u1>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
        <br />
        {% if user.is_authenticated %}
        <center>
        <a href="{% url 'rango:add_page' category.slug %}" class="btn btn-info">Add a New Page</a>
        <a href="{% url 'rango:comment' category.slug %}"class="btn btn-info"> See comment</a>
        </center>
        {% endif %}
        {% else %}
        The specified category does not exist.
        {% endif %}
    </div>
</center>
{% endblock %}






