{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}
{% block body_block %}
<div id="main">
    <div id="top" style="margin-bottom: 100px; ">
        <div style="margin:30px">
            <h1 align="center">Rango says...</h1>
            <div style="padding:15px; font-size:20px;" align="center" >
                {% if user.is_authenticated %}
                <strong >Hello {{ user.username }}!</strong>
                {% else %}
                hey there partner!
                {% endif %}
                <br/>
                <strong>{{boldmessage}}</strong><br/>
            </div>
        </div>
    </div>
    <div id="left" style="width: 40%; float: left; border:1px solid #000;margin-right: 50px; padding:15px" >
        <h2>Most Liked Categories</h2> 
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a id="a2" href="{% url 'rango:show_category' category.slug %}">{{category.name}}</a>
            </li>
            {%endfor%}
        </ul>
    {%else%}
        <strong>There are no categories present.</strong>
    {%endif%}
    </div>
    <div id="middle" style="width:35%; float: left; border:1px solid #000; padding:15px ">
        <h2>Most Viewed Pages</h2>
        {% if pages %}
            <u1>
            {% for page in pages%}
                <li>
                    <a id="a2" href="{{page.url}}">{{page.title}}</a>
                </li>
            {% endfor %}
            </u1>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>
    <div id="right" style="width: 10%; float: left; margin-left:15px">
        <div>
            <img src="{%static 'images/rango.jpg'%}" alt="Picture of Rango" width="200" height="=300"/>
        </div>
    </div>
    <embed id="soundControl" src="{%static 'audio/We Are the World.mp3'%}" type="audio/mpeg" autostart="true" width="0" height="0" loop="false"/>
</div>
<!--<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>-->
<script>
    window.onload= function () {
        document.getElementById("soundControl").play();
    }
</script>
{% endblock %}

 
    